apiVersion: apps/v1
kind: Deployment
metadata:
  name: httpbin
  annotations:
    kube-score/ignore: container-image-tag, pod-networkpolicy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: httpbin
  template:
    metadata:
      labels:
        app: httpbin
    spec:
      containers:
        - name: httpbin
          image: kennethreitz/httpbin:latest
          ports:
            - containerPort: 80
          readinessProbe:
            httpGet:
              path: /status/200
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            requests:
              memory: "128Mi"
              cpu: "250m"
              ephemeral-storage: "256Mi"
            limits:
              memory: "256Mi"
              cpu: "500m"
              ephemeral-storage: "256Mi"
          securityContext:
            runAsUser: 10000
            runAsGroup: 10000
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: false
            runAsNonRoot: true
